h1, h2, h3, h4, h5, h6, p, div {
  font-size: 40px;
  font-family: Arial;
  font-weight: normal;
  
  margin: 0px;
  padding: 0px;
}

#settings {
  display: none;
}

#title {
  border: 1px solid black;
  margin: 0px 0px 0px 0px;
  
  h1 {
    font-size: 50px;
    margin-left: 10px;
  }
  h2 {
    margin-left: 40px;
    color: grey;
  }
}

#info {
  border: 1px solid black;
  margin: 4px 0px 4px 0px;
  padding: 5px;

  display: none;
}

#content {
  .mark, .part {
    border: 4px solid black;
    border-radius: 10px;

    margin: 8px 4px;
    padding: 5px;
  }
  
  .mark {
    font-weight: bold;
    width: fit-content;
  }

  .Introduction, .Intro, .Break, .Interlude, .Outro {
    border-color: blue;
  }

  .Verse {
    border-color: green;
  }

  .Pre-Chorus, .Post-Chorus {
    border-color: orange;
  }

  .Chorus {
    border-color: red;
  }

  .Bridge {
    border-color: purple;
  }

  .Solo {
    border-color: violet;
  }

  .signature {
    
  }
  .time, .key {
    border: 1px solid black;
  }

  .chords {}
}

#footer {
  text-align: center;
  border: 1px solid black;
  padding: 50px;
  color: grey;
  background-color: lightgrey;
}
