#tabs {
  margin: 0px;
  padding: 10px;
  
  border: 1px solid black;
}

#tabs {
  .tab {
    margin: 0px;
    padding: 20px 0px;
    
    font-size: 30px;
    
    width: 33.3%;
    box-sizing: border-box;
  }
}
